<% provide(:title, "#{@user.name} profile") %>

<% if logged_in?(@current_user) %>
  <%= link_to 'Profile', user_path(@current_user) %>
  <%= link_to 'Users',    users_path %>
  <%= link_to 'Settings', '#' %>
  <%= button_to 'Log out', logout_path, :method => 'delete' %>

  <% unless @user.id == @current_user.id %>
    <% if @current_user.following?(@user) %>
      <%= form_tag relationships_destroy_path, method: 'delete' do %>
        <%= hidden_field_tag :followed_data, "#{@user.id}|#{@current_user.id}" %>
        <%= submit_tag 'Unfollow' %>
      <% end %>
    <% else %>
      <%= form_tag relationships_create_path, method: 'post' do %>
        <%= hidden_field_tag :followed_id, @user.id %>
        <%= submit_tag 'Follow' %>
      <% end %>
    <% end %>
  <% end %>

  <h1>
    <%= form_with(model: @current_user, url: upload_user_path(@current_user), local: true, method: :post) do |form| %>
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
      <%= form.submit 'Upload'%>
    <% end %>

    <%= image_tag @user.avatar if @user.avatar.attached? %>

    <%= yield(:title) %>,
    <%= @user.email %>
  </h1>

  <a href="<%= following_user_path(@user) %>">following <%= @user.following.count %></a>
  <a href="<%= followers_user_path(@user) %>">followers <%= @user.followers.count %></a>

  <p>Current user's token: <%= cookies[:user_token] %></p>

  <h1>Available folders</h1>

  <ol>
    <% @folders.each do |folder| %>
      <li><%= link_to folder.name, folder %></li>

      <%= form_with model: folder do |form| %>
        <%= form.text_field :name %>
        <%= form.submit 'Change' %>
      <% end %>

      <p>Number of cards: <%= folder.cards.size %></p>

      <%= button_to 'Delete', folder_path(folder), method: :delete %>
      <p></p>
    <% end %>
  </ol>

  <%= form_with model: @folder, url: folders_path, method: :post, local: true do |form| %>
    <%= form.text_field :name, name: 'folder[name]' %>
    <%= form.submit 'Create folder' %>
  <% end %>

<% else %> 
  <%= render template: '/authentication/new' %>
<% end %>
